.cucina__cards {
    display: flex;
    width: 100%;
    padding-block: 5%;
    padding-inline: 5%;
    justify-content: space-evenly;
    background-image: url(../images/background__white.jpg);

    .cucina__card {
        max-width: 27%;
        padding-bottom: 2rem;
        background-color: #6b391ca4;
        box-shadow: 3px 3px 10px #000000;
        border-radius: 7px;
        overflow: hidden;
        flex: 1;
        -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    

        &.anim__delay1 {
            animation-delay: 0.3s;
        }

        &.anim__delay2 {
            animation-delay: 0.6s;
        }

        .imgcard {
            flex: 1;
            width: 100%;

            img {
                max-width: 100%;
                padding-bottom: 1rem;
            }
        }

        .infocard {
            padding: 1rem;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex: 1;

            h3 {
                font-family: $fontRubik;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                font-weight: 400;
            }

            p {
                font-size: 1.5rem;
                color: #ffffff;
                font-family: $fontMarcellus;
                margin-bottom: 1rem;
            }

            a {
                font-family: $fontRubik;
                color: #ffffff;
                font-size: 1.2rem;
                text-decoration: none;
                background-color: $mainColor;
                padding: 1rem;
                width: 10rem;
                border-radius: 10px;
                font-weight: 400;
            }
        }
    }
}