.pres__grey::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120vh;
    background-color: #2220208f;
}

%presentacion__back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

%parrafoNM {
    text-align: right;
    font-size: 2rem;
    padding-right: 13rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-family: $fontRaleway;
    line-height: 3rem;
    font-weight: 300;
}

.back__h {
    height: 120vh;
}

.back1 {
    background-image: url(../images/back1.jpg);
    @extend %presentacion__back;

    .frase__inicial {
        text-align: center;
        padding-inline: 25%;
        padding-top: 10rem;
        position: relative;
        -webkit-animation: appear;
        animation: appear;
        animation-duration: 1.5s;
        animation-direction: normal;
        animation-iteration-count: 1;

        h2 {
            color: #ffffff;
            font-family: $fontRaleway;
            font-weight: 200;
            letter-spacing: 3px;
            font-size: 2rem;
            line-height: 5rem;

            span {
                color: $mainColor;
                text-shadow: 1px 1px 4px #000000;
            }
        }
    }
}

main {

    .back2 {
        @extend %presentacion__back;
        background-image: url(../images/back2.jpg);
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding-top: 15rem;
        padding-inline: 5rem;
        font-family: $fontRaleway;
        font-weight: 200;
        line-height: 3rem;
        width: 100%;

        h2 {
            color: $mainColor;
            z-index: 1;
            font-size: 2.5rem;
            padding-bottom: 2.5rem;
            text-transform: uppercase;
            text-shadow: 1px 1px 1px #000000;
        }

        p {
            z-index: 1;
            font-size: 2.2rem;
            padding-bottom: 4rem;
            text-shadow: 1px 1px 1px #000000;
        }

        .pres__lista {
            z-index: 1;
            display: flex;
            line-height: 5rem;
            align-items: center;
            text-shadow: 1px 1px 1px #000000;

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding-left: 5rem;
                height: 100%;
                justify-content: space-between;
                font-size: 1.5rem;

                li {

                    i {
                        color: $mainColor;
                        z-index: 1;
                    }
                }
            }
        }
    }

    .back3 {
        background-image: url(../images/back3.jpg);
        @extend %presentacion__back;
        display: flex;
        padding-top: 20rem;
        flex-direction: column;

        h2 {
            text-align: left;
            width: 100%;
            padding-left: 10rem;
            font-size: 2rem;
            padding-bottom: 4rem;
            font-family: $fontRaleway;
            color: $mainColor;
            z-index: 1;
            text-shadow: 1px 1px 3px #2c2929;
        }

        p {
            @extend %parrafoNM;
        }
    }

    .back4 {
        background-image: url(../images/back4.jpg);
        @extend %presentacion__back;
        display: flex;
        padding-top: 20rem;
        flex-direction: column;

        >p {
            @extend %parrafoNM;
            text-align: left;
            padding-inline: 10rem;
            font-size: 2.2rem;
            padding-bottom: 2rem;
            line-height: 5rem;
        }
    }

    .back5 {
        background-image: url(../images/back5.jpg);
        @extend %presentacion__back;
        padding-top: 15rem;
        padding-left: 20rem;

        p {
            @extend %parrafoNM;
            line-height: 5rem;
        }
    }
}