.contacto {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url(../images/background_contacto2.jpg);
    background-size: cover;
    background-position: center;
    padding-block: 5rem;

    .contacto__formulario {
        flex: 1;
        padding-block: 5rem;
        display: flex;
        justify-content: center;
        z-index: 1;
        color: #ffffff;
        height: auto;
        width: 100%;

        form {
            display: grid; 
            width: 85%;
            gap: 2.5rem;
            padding-left: 3rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                "nombre     nombre"
                "apellido   apellido"
                "edad       edad"
                "email      email"
                "mensaje    mensaje"
                "enviar     reset";

            .nombre {
                grid-area: nombre;
            }

            .apellido {
                grid-area: apellido;
            }

            .edad {
                grid-area: edad;
            }

            .email {
                grid-area: email;
            }

            .mensaje {
                grid-area: mensaje;
            }

            input {
                height: auto;
                width: 90%;
                padding: 1%;
                font-size: 2rem;
                font-family: $fontMarcellus;
                color: #000000;

                &::placeholder {
                    color: $mainColor;
                    font-size: 1.5rem;
                }
            }

            .submit,
            .reset {
                background-color: $mainColor;
                border-radius: 1rem;
                border: none;
                width: 10rem;
                color: #ffffff;
            }
        }
    }

    .contacto__mensaje {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        align-items: center;
        color: #ffffff;
        z-index: 1;
        text-shadow: 1px 1px 1px #000000;

        h2 {
            font-size: 4rem;
            text-transform: uppercase;
            font-family: $fontRubik;
            padding-bottom: 3rem;

            span {
                color: $mainColor;
                text-shadow: 1px 1px 1px #ffffff;
            }
        }

        p {
            text-align: center;
            padding-inline: 10rem;
            font-size: 1.5rem;
            font-family: $fontRaleway;
            padding-bottom: 2rem;

            span {
                font-family: $fontSatisfy;
                color: $mainColor;
                text-shadow: 1px 1px 1px #000000;
                font-size: 2rem;
            }
        }

        .wapp {
            display: flex;
            align-items: center;

            a {
                color: #ffffff;
                font-size: 2rem;
                margin-inline: 1rem;
            }

            p {
                font-size: 1.5rem;
                padding-inline: 0;
                padding-bottom: 0;
            }
        }
    }
}