.imgiconomenu {
    width: 4rem;
    height: 4rem;
    position: absolute;
}

.btn__label {
    display: none;
    width: 4rem;
    height: 4rem;
    border-right: 1px solid #ffffff;

}

.header__NM {
    background-color: #2c2929;
    height: 5rem;
}

header {
    width: 100%;
    background-color: $bgColor;
    height: 5rem;

    #btn__menu {
        display: none;
    }

    .navbar {

        .menu {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-evenly;

            .menu__item {
                display: flex;
                padding: 15px 20px;

                a {
                    color: rgb(255, 255, 255);
                    font-family: $fontSatisfy;
                    font-size: 2.2rem;
                    text-decoration: none;
                }
            }

            .active a {
                color: $mainColor;
            }
        }
    }
}