/////////////////////    MEDIA QUERYS MAX 1200  /////////////////////////
@media screen and (max-width: 1250px) {
    // MEDIA QUERYS MENU 1250 //

    .background__pizza {

        .background__title {

            h2 {
                font-size: 4.5rem;
            }
        }
    }

    .section__card {
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
            "card1  card2"
            "card3  card4"
            "card5  card6"
            "card7 card8"
            "card9 card10"
            "card11 card12"
            "card13 card14"
            "card15 card16"
            "card17 card18";


        .card {
            flex-direction: column;

            .pizzaimg {
                padding-bottom: 1rem;
                max-height: 25rem;
            }

            .description {

                h2 {
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                }

                a {
                    padding: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .section__card__veggie {
        gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "cardV1  cardV2"
            "cardV3  cardV4"
            "cardV5  cardV6";

        .card {
            flex-direction: column;

            .pizzaimg {
                padding-bottom: 1rem;
                max-height: 25rem;
            }

            .description {

                h2 {
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                }

                a {
                    padding: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // MEDIA QUERYS CUCINA 1250 //
    .cucina__cards {
        flex-direction: column;
        gap: 5rem;
        padding-inline: 5%;

        .cucina__card {
            flex-direction: row;
            padding-bottom: 0;

            img {
                width: 60%;
                padding-bottom: 0;
            }

            .infocard {
                h3 {
                    font-size: 1.6rem;
                }
            }
        }
    }

    // MEDIA QUERYS NUESTRO METODO 1250 //

    .back1 {

        .frase__inicial {
            padding-inline: 15rem;
        }
    }

    main {

        .back2 {
            padding-top: 10rem;
            text-align: center;
            padding-inline: 2.5rem;

            .pres__lista {
                width: 100%;

                ul {
                    padding-left: 2rem;
                    text-align: left;
                }
            }
        }
    }

    // MEDIA QUERYS CONTACTO 1250 //
    .contacto {

        .contacto__mensaje {

            p {
                padding-inline: 3rem;
            }
        }
    }
}

/////////////////////    MEDIA QUERYS MAX 995  /////////////////////////
@media screen and (max-width: 995px) {
    /* MENU ICONO */

    .btn__label {
        display: block;
    }

    header {
        height: 4rem;
    }

    .header__NM {
        height: 4rem;
    }

    .navbar {
        position: absolute;
        background-color: $bgColor;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
        z-index: 2;

        .menu {
            flex-direction: column;

            .menu__item {
                width: 100%;
                height: 15vh;
                border-top: 1px solid #ffffff;
                align-items: center;
                text-align: center;
                justify-content: center;
            }
        }
    }

    #btn__menu:checked~.navbar {
        margin-left: 0;
    }

    // MEDIA QUERYS HOME 995 //

    .section__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "box1 box1"
            "box2 box3"
            "box4 box5";

        .box1 {

            h1 {
                font-size: 3.5rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }

        .box2,
        .box3,
        .box4,
        .box5 {
            font-size: 4rem;
        }
    }

    // MEDIA QUERYS CUCINA 995 //

    .cucina__cards {
        flex-direction: column;
        gap: 5rem;

        .cucina__card {
            flex-direction: row;
            padding-bottom: 0;

            img {
                flex: 1;
            }

            .infocard {
                flex: 1;

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }

     // MEDIA QUERYS NUESTRO METODO 995 //


    .back1 {

        .frase__inicial {
            padding-inline: 5rem;
        }
    }

    main {

        .back2 {
            padding-top: 10rem;
            padding-inline: 5rem;

            ul {
                text-align: left;
            }
        }

        .back3,
        .back4{
            padding-top: 15rem;
        }

        .back5 {
            padding-top: 10rem;
            padding-inline: 0;

            p {
                padding-inline: 5rem;
                text-align: center;
            }
        }
    }

    // MEDIA QUERYS CONTACTO 995 //

    .contacto {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url(../images/background_contacto.jpg);
        flex-direction: column;

        .contacto__formulario {
            padding-block: 2rem;
        }

        .contacto__mensaje {
            padding-block: 10rem;
        }

    }

}

/////////////////////    MEDIA QUERYS MAX 768  /////////////////////////

@media screen and (max-width: 768px) {

    // MEDIA QUERYS HOME 768 //
    .section__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "box1 box1"
            "box2 box3"
            "box4 box5";

        .box2,
        .box3,
        .box4,
        .box5 {
            font-size: 2.5rem;
        }
    }

    // MEDIA QUERYS MENU 768 //
    .background__pizza {

        .background__title {

            h2 {
                font-size: 3.5rem;
            }
        }
    }

    .section__card,
    .section__card__veggie {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .card {
            flex-direction: column;

            .pizzaimg {
                padding-bottom: 1rem;
                max-height: 25rem;
            }

            .description {

                h2 {
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                }

                a {
                    padding: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    // MEDIA QUERYS CUCINA 768 //

    .cucina__cards {
        flex-direction: column;
        gap: 5rem;
        padding-inline: 10%;

        .cucina__card {
            flex-direction: column;
            padding-bottom: 1.5rem;

            img {
                width: 100%;
                padding-bottom: 1rem;
            }

            .infocard {
                width: 80%;

                h3 {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }

    // MEDIA QUERYS NUESTRO METODO 768 //

    .back1 {

        .frase__inicial {
            padding-top: 8rem;

            h2{
                line-height: 3rem;
                font-size: 1.5rem;
            }
        }
    }
    
    main {

        .back2 {
            padding-top: 5rem;
            padding-inline: 1.5rem;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

            .pres__lista {
                ul {
                    font-size: 1.3rem;
                }
            }
        }

        .back3,
        .back4{
            padding-top: 10rem;
        }

        .back3 {
            padding-inline: 5rem;
            h2 {
                padding-left: 0;
                font-size: 1.5rem;
            }

            p {
                padding-right: 0;
                font-size: 1.5rem;
            }
        }

        .back4 {
            p{
                text-align: center;
                padding-inline: 5rem;
                font-size: 1.5rem;
            }
        }

        .back5 {
            padding-top: 10rem;
            padding-inline: 0;

            p {
                padding-inline: 5rem;
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
    }

    // MEDIA QUERYS CONTACTO 768 //

    .contacto {

        .contacto__formulario {

            form {
                padding-left: 0;

                input {
                    padding: 2%;
                    font-size: 1.5rem;

                    &::placeholder {
                        color: $bgColor;
                        font-size: 1rem;
                    }
                }
            }
        }

        .contacto__mensaje {
            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    // MEDIA QUERYS FOOTER 768 //

    footer {
        .navbar__footer {
            padding-bottom: 0rem;

            .menu__footer {
                flex-direction: column;
                padding-block: 1rem;

                .menu__item__f a {
                    font-size: 1.4rem;
                    padding: 0rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}


/////////////////////    MEDIA QUERYS MAX 480  /////////////////////////

@media screen and (max-width: 480px) {

    //////////// HOME 480 //////////// 
    .section__box {
        height: 100vh;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5";

        &>* {
            flex: 1;
        }

        .box1 {
            flex: 2;

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

        .box4 {
            order: 1;
        }

        .box5 {
            animation-delay: 0.4s;
        }

        .box4 {
            animation-delay: 0.5s;
        }

        .box2 a,
        .box3 a,
        .box4 a,
        .box5 a {
            font-size: 2.5rem;
        }
    }

    /// MEDIA QUERYS MENU 480 ///
    .background__pizza {
        height: 30vh;

        .background__title {

            h2 {
                font-size: 2.5rem;
            }
        }
    }

    .section__card,
    .section__card__veggie {
        display: flex;
        flex-direction: column;
        padding-inline: 1rem;
        gap: 4rem;

        .card {

            .pizzaimg {
                padding-bottom: 1rem;
                max-height: 20rem;
            }

            .description {

                h2 {
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    padding: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .veggie__title {
        text-align: center;

        h2 {
            font-size: 6vh;
        }
    }


    .cucina__cards {
        flex-direction: column;
        height: 100%;
        padding-block: 5vh;
    }

    /// MEDIA QUERYS CUCINA 480 ///
    .cucina__cards {
        padding-block: 4rem;
        height: auto;
        padding-inline: 2%;

        .cucina__card {
            width: 85%;
            margin-bottom: 2rem;

            .infocard {

                p {
                    padding-inline: 0.5rem;
                    padding-bottom: 1.5rem;
                    font-size: 1.2rem;
                }
            }
        }
    }

    /// MEDIA QUERYS NUESTRO METODO 480 ///

    .back1 {
        height: 100vh;

        .frase__inicial {
            padding-inline: 1rem;
            padding-top: 10rem;

            h2 {
                line-height: 2rem;
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }

    main {
        .back2 {
            padding-top: 3rem;
            padding-inline: 0;

            h2 {
                text-align: center;
                padding-top: 3rem;
                padding-inline: 1rem;
            }

            p {
                text-align: center;
                font-size: 1rem;
                padding-bottom: 3rem;
                padding-inline: 1rem;
            }

            .pres__lista {

                ul {
                    padding-left: 0rem;
                    line-height: 3rem;
                    font-size: 1rem;
                    padding-left: 1rem;
                }
            }
        }

        .back3 {
            padding-inline: 1rem;
            h2,
            p {
                font-size: 1.5rem;
            }
        }


        .back4 {
            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
                text-align: center;
                padding-inline: 1rem;
            }
        }

        .back5 {
            p {
                font-size: 1.5rem;
                padding-inline: 1rem;
            }
        }
    }

    /// MEDIA QUERYS CONTACTO 480 ///

    .contacto {
        padding-top: 1.5rem;

        .contacto__formulario {

            form {
                padding-left: 1rem;
                width: 100%;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(7, 1fr);
                grid-template-areas:
                    "nombre"
                    "apellido"
                    "edad"
                    "email"
                    "mensaje"
                    "enviar"
                    "reset";

                input {

                    &::placeholder {
                        color: #000000;
                        font-size: 1rem;
                    }
                }
            }
        }

        .contacto__mensaje {

            h2 {
                font-size: 2rem;
                padding-bottom: 2rem;
            }

            p {
                font-size: 1.5rem;
                padding-inline: 2rem;

                span {
                    font-size: 1.7rem;
                }
            }

            .wapp {

                a {
                    color: #ffffff;
                    font-size: 9vw;
                }

                p {
                    font-size: 7vw;
                }
            }
        }
    }
}

/////////////////////    MEDIA QUERYS MIN 900  /////////////////////////

@media screen and (min-width: 995px) {

    .box a:hover {
        color: $mainColor;
        font-size: 8vh;
        transition: all 0.3s;
    }


    .side__box:hover {
        background-color: #000000;
        transition: 0.5s;
    }

    .navbar {

        .menu {

            .menu__item {

                a {

                    &:hover {
                        color: $mainColor;
                    }

                }
            }
        }
    }

    .section__card,
    .section__card__veggie {

        .card {
            .description {
                a {

                    &:hover {
                        background-color: $bgColor2;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .cucina__cards {

        .cucina__card {

            .infocard {

                a {
                    &:hover {
                        background-color: $bgColor2;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contacto__formulario {

        form {

            .submit,
            .reset {

                &:hover {
                    background-color: $bgColor2;
                    cursor: pointer;
                }
            }
        }
    }
}