/////////////////////    MEDIA QUERYS MAX 900  /////////////////////////
@media screen and (max-width: 900px) {
    /* MENU ICONO */

    .btn__label {
        display: block;
    }

    header {
        height: 4rem;
    }

    .header__NM {
        height: 4rem;
    }

    .navbar {
        position: absolute;
        background-color: $bgColor;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
        z-index: 2;

        .menu {
            flex-direction: column;

            .menu__item {
                width: 100%;
                height: 15vh;
                border-top: 1px solid #ffffff;
                align-items: center;
                text-align: center;
                justify-content: center;
            }
        }
    }

    #btn__menu:checked~.navbar {
        margin-left: 0;
    }
}

/////////////////////    MEDIA QUERYS MAX 768  /////////////////////////

@media screen and (max-width: 768px) {

    // MEDIA QUERYS HOME 768 //
    .section__box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "box1 box1"
            "box2 box3"
            "box4 box5";

        .box2,
        .box3,
        .box4,
        .box5 {
            font-size: 6vh;
        }
    }
}


/////////////////////    MEDIA QUERYS MAX 480  /////////////////////////

@media screen and (max-width: 480px) {

    //////////// HOME 480 //////////// 
    .section__box {
        height: 100vh;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5";

        &>* {
            flex: 1;
        }

        .box1 {
            flex: 2;

            h1 {
                font-size: 10vw;
            }

            h2 {
                font-size: 7vw;
            }
        }

        .box4 {
            order: 1;
        }

        .box2 a,
        .box3 a,
        .box4 a,
        .box5 a {
            font-size: 5.5vh;
        }
    }

    /// MEDIA QUERYS MENU 480 ///
    .background__pizza {
        height: 30vh;

        .background__title {

            h2 {
                font-size: 5.5vh;
            }
        }
    }

    .section__card,
    .section__card__veggie {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .card {
            flex-direction: column;
            width: 85vw;
            height: 70vh;
            padding-bottom: 1rem;

            .pizzaimg {
                max-width: 85%;
            }

            .description {
                max-width: 80%;

                h2 {
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    padding: 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }

    .veggie__title {
        text-align: center;

        h2 {
            font-size: 6vh;
        }
    }


    .cucina__cards {
        flex-direction: column;
        height: 100%;
        padding-block: 5vh;
    }

    /// MEDIA QUERYS CUCINA 480 ///
    .cucina__cards {
        padding-block: 4rem;
        height: auto;

        .cucina__card {
            width: 85%;
            height: 65vh;
            margin-bottom: 4vh;

            h3 {
                font-size: 2rem;
            }

            p {
                padding-top: 1rem;
            }

            a {
                bottom: 2vh;
            }
        }
    }

    /// MEDIA QUERYS NUESTRO METODO 480 ///

    .back1 {
        height: 90vh;

        .frase__inicial {
            font-size: 1.2rem;
            line-height: 2rem;
            padding-inline: 5%;
            padding-top: 25vh;
        }
    }

    main {
        .back2 {
            padding-top: 10vh;

            h2 {
                text-align: center;
                padding-top: 10%;
            }

            p {
                text-align: center;
                font-size: 1.5rem;
            }

            .pres__lista {
                ul {
                    padding-left: 0rem;
                    line-height: 0.5rem;
                    width: 45vw;
                    font-size: 1.3rem;
                }
            }
        }

        .back3 h2,
        .back3 p {
            padding-inline: 10vw;
        }

        .back4,
        .back5 {
            padding-top: 20vh;
            padding-inline: 5vw;
        }

        .back4>p {
            font-size: 1.5rem;
            line-height: 2.5rem;
            text-align: center;
        }

        .back5 p {
            text-align: center;
        }

    }

    /// MEDIA QUERYS FOOTER ///

    footer {
        .navbar__footer {
            padding-bottom: 0rem;

            .menu__footer {
                flex-direction: column;
                padding-block: 1rem;

                .menu__item__f a {
                    font-size: 1.4rem;
                    padding: 0rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }
}


/////////////////////    MEDIA QUERYS MIN 900  /////////////////////////

@media screen and (min-width: 900px) {

    .box a:hover {
        color: $mainColor;
        font-size: 8vh;
        transition: all 0.3s;
    }

    
    .side__box:hover {
        background-color: #000000;
        transition: 0.5s;
    }

    .navbar {
        
        .menu {

            .menu__item {

                a {

                    &:hover {
                        color: $mainColor;
                    }

                }
            }
        }
    }

    .section__card,
    .section__card__veggie {

        .card {
            .description {
                a {

                    &:hover {
                        background-color: $bgColor2;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .contacto__formulario {

        form {

            .botones {

                .submit,
                .reset {

                    &:hover {
                        background-color: $bgColor2;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .cucina__cards {

        .cucina__card {
    
            .infocard {
    
                a {
                    &:hover {
                        background-color: $bgColor2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}