@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Marcellus+SC&family=Roboto:wght@300;400;700;900&family=Rubik+Dirt&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap');

$fontMarcellus: 'Marcellus SC', serif;
$fontRubik:'Rubik Dirt', cursive;
$fontSatisfy:'Satisfy', cursive;
$fontRaleway: 'Raleway', sans-serif;

$mainColor:#ff8800;
$bgColor:#524949;
$bgColor2:#e68d7d;