@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Marcellus+SC&family=Roboto:wght@300;400;700;900&family=Rubik+Dirt&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: #000000;
  color: #fc8600;
}
*::selection {
  background-color: #000000;
  color: #fc8600;
}

.imgiconomenu {
  width: 4rem;
  height: 4rem;
  position: absolute;
}

.btn__label {
  display: none;
  width: 4rem;
  height: 4rem;
  border-right: 1px solid #ffffff;
}

.header__NM {
  background-color: #2c2929;
  height: 5rem;
}

header {
  width: 100%;
  background-color: #524949;
  height: 5rem;
}
header #btn__menu {
  display: none;
}
header .navbar .menu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
header .navbar .menu .menu__item {
  display: flex;
  padding: 15px 20px;
}
header .navbar .menu .menu__item a {
  color: #ffffff;
  font-family: "Satisfy", cursive;
  font-size: 2.2rem;
  text-decoration: none;
}
header .navbar .menu .active a {
  color: #fc8600;
}

.body__home {
  background-color: #242323;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.section__box {
  width: 100%;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "box2 box1 box1 box3" "box4 box1 box1 box5";
}
.section__box .box2,
.section__box .box5 {
  background-color: #fc8600;
}
.section__box .box3,
.section__box .box4 {
  background-color: #524949;
}
.section__box .box1 {
  grid-area: box1;
  background-image: url(../images/background1.jpg);
  flex-direction: column;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.section__box .box1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.5607843137);
}
.section__box .box1:hover {
  scale: 1.2;
  transition: all 1s;
}
.section__box .box1 h1 {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Rubik Dirt", cursive;
  z-index: 1;
  text-shadow: 1px 1px 1px #ffffff;
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}
.section__box .box1 h1 span {
  color: #fc8600;
}
.section__box .box1 h2 {
  color: #fc8600;
  font-size: 3.3rem;
  font-family: "Satisfy", cursive;
  z-index: 1;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.side__box {
  z-index: 1;
  font-family: "Satisfy", cursive;
  font-size: 3.5rem;
  -webkit-animation: scale-up-ver-top 0.3s cubic-bezier(0.8, 0.8, 0.8, 1) both;
  animation: scale-up-ver-top 0.3s cubic-bezier(0.8, 0.8, 0.8, 1) both;
}

.section__box:nth-child(2) {
  grid-area: box 2;
}

.section__box:nth-child(3) {
  grid-area: box 3;
}

.section__box:nth-child(4) {
  grid-area: box 4;
}

.section__box:nth-child(5) {
  grid-area: box 5;
}

.body__menu {
  background-image: url(../images/background__white.jpg);
}

.background__pizza {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  position: relative;
}
.background__pizza::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.5607843137);
}
.background__pizza .background__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.background__pizza .background__title h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: "Rubik Dirt", cursive;
  font-weight: 500;
  z-index: 1;
  position: absolute;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5607843137);
}
.background__pizza .background__title h2 span {
  color: #fc8600;
}

.section__card__veggie, .section__card {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 2rem;
}

.section__card__veggie .card, .section__card .card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.459);
  border-radius: 20px;
  background-color: rgba(107, 57, 28, 0.6431372549);
  padding-block: 3rem;
}

.section__card__veggie .card .description, .section__card .card .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
}

.section__card__veggie .card .description h2, .section__card .card .description h2 {
  font-size: 2.2rem;
  font-family: "Rubik Dirt", cursive;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.section__card__veggie .card .description p, .section__card .card .description p {
  font-size: 1.5rem;
  font-family: "Marcellus SC", serif;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.section__card__veggie .card .description a, .section__card .card .description a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  background-color: #fc8600;
  padding: 1rem;
  font-weight: 300;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Rubik Dirt", cursive;
}

.section__card {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "card1  card2  card3" "card4  card5  card6" "card7  card8  card9" "card10 card11 card12" "card13 card14 card15" "card16 card17 card18";
}
.section__card .card .pizzaimg {
  max-height: 20rem;
}
.section__card__veggie {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "cardV1  cardV2  cardV3" "cardV4  cardV5  cardV6";
}
.section__card__veggie .card .pizzaimg {
  max-height: 20rem;
}
.section__card:nth-child(1) {
  grid-area: card 1;
}

.section__card:nth-child(2) {
  grid-area: card 2;
}

.section__card:nth-child(3) {
  grid-area: card 3;
}

.section__card:nth-child(4) {
  grid-area: card 4;
}

.section__card:nth-child(5) {
  grid-area: card 5;
}

.section__card:nth-child(6) {
  grid-area: card 6;
}

.section__card:nth-child(7) {
  grid-area: card 7;
}

.section__card:nth-child(8) {
  grid-area: card 8;
}

.section__card:nth-child(9) {
  grid-area: card 9;
}

.section__card:nth-child(10) {
  grid-area: card 10;
}

.section__card:nth-child(11) {
  grid-area: card 11;
}

.section__card:nth-child(12) {
  grid-area: card 12;
}

.section__card:nth-child(13) {
  grid-area: card 13;
}

.section__card:nth-child(14) {
  grid-area: card 14;
}

.section__card:nth-child(15) {
  grid-area: card 15;
}

.section__card:nth-child(16) {
  grid-area: card 16;
}

.section__card:nth-child(17) {
  grid-area: card 17;
}

.section__card:nth-child(18) {
  grid-area: card 18;
}

.section__card__evggie:nth-child(1) {
  grid-area: cardV 1;
}

.section__card__evggie:nth-child(2) {
  grid-area: cardV 2;
}

.section__card__evggie:nth-child(3) {
  grid-area: cardV 3;
}

.section__card__evggie:nth-child(4) {
  grid-area: cardV 4;
}

.section__card__evggie:nth-child(5) {
  grid-area: cardV 5;
}

.section__card__evggie:nth-child(6) {
  grid-area: cardV 6;
}

.veggie__title {
  width: 100%;
  height: 15vh;
  margin-block: 3rem;
  background-color: #524949;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Rubik Dirt", cursive;
}
.veggie__title h2 {
  font-size: 8vh;
}
.veggie__title h2 span {
  color: #fc8600;
}

.cucina__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  padding-block: 4rem;
  padding-inline: 8rem;
  background-image: url(../images/background__white.jpg);
}
.cucina__cards .cucina__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-bottom: 2rem;
  background-color: #524949;
  box-shadow: 3px 3px 10px #000000;
  border-radius: 15px;
  overflow: hidden;
  -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.cucina__cards .cucina__card.anim__delay1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.cucina__cards .cucina__card.anim__delay2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.cucina__cards .cucina__card img {
  max-width: 100%;
  padding-bottom: 2.5rem;
}
.cucina__cards .cucina__card .infocard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cucina__cards .cucina__card .infocard h3 {
  font-family: "Rubik Dirt", cursive;
  color: #fc8600;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-inline: 1rem;
}
.cucina__cards .cucina__card .infocard p {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  padding-inline: 2.5vw;
  text-align: center;
  font-family: "Marcellus SC", serif;
}
.cucina__cards .cucina__card .infocard a {
  font-family: "Rubik Dirt", cursive;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #fc8600;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 400;
}

.pres__grey::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 120vh;
  background-color: rgba(34, 32, 32, 0.5607843137);
}

main .back5, main .back4, main .back3, main .back2, .back1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}

main .back5 p, main .back4 > p, main .back3 p {
  text-align: right;
  font-size: 2rem;
  padding-right: 13rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  font-family: "Raleway", sans-serif;
  line-height: 3rem;
  font-weight: 300;
}

.back__h {
  height: 120vh;
}

.back1 {
  background-image: url(../images/back1.jpg);
}
.back1 .frase__inicial {
  text-align: center;
  padding-inline: 25rem;
  padding-top: 10rem;
  position: relative;
  -webkit-animation: appear;
  animation: appear;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.back1 .frase__inicial h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 2rem;
  line-height: 5rem;
}
.back1 .frase__inicial h2 span {
  color: #fc8600;
  text-shadow: 1px 1px 4px #000000;
}

main .back2 {
  background-image: url(../images/back2.jpg);
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-top: 15rem;
  padding-inline: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  line-height: 3rem;
  width: 100%;
}
main .back2 h2 {
  color: #fc8600;
  z-index: 1;
  font-size: 2.5rem;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000000;
}
main .back2 p {
  z-index: 1;
  font-size: 2.2rem;
  padding-bottom: 4rem;
  text-shadow: 1px 1px 1px #000000;
}
main .back2 .pres__lista {
  z-index: 1;
  display: flex;
  line-height: 5rem;
  align-items: center;
  text-shadow: 1px 1px 1px #000000;
}
main .back2 .pres__lista ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 5rem;
  height: 100%;
  justify-content: space-between;
  font-size: 1.5rem;
}
main .back2 .pres__lista ul li i {
  color: #fc8600;
  z-index: 1;
}
main .back3 {
  background-image: url(../images/back3.jpg);
  display: flex;
  padding-top: 20rem;
  flex-direction: column;
}
main .back3 h2 {
  text-align: left;
  width: 100%;
  padding-left: 10rem;
  font-size: 2rem;
  padding-bottom: 4rem;
  font-family: "Raleway", sans-serif;
  color: #fc8600;
  z-index: 1;
  text-shadow: 1px 1px 3px #2c2929;
}
main .back4 {
  background-image: url(../images/back4.jpg);
  display: flex;
  padding-top: 20rem;
  flex-direction: column;
}
main .back4 > p {
  text-align: left;
  padding-inline: 10rem;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  line-height: 5rem;
}
main .back5 {
  background-image: url(../images/back5.jpg);
  padding-top: 15rem;
  padding-left: 20rem;
}
main .back5 p {
  line-height: 5rem;
}

.contacto {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background_contacto2.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 5rem;
}
.contacto .contacto__formulario {
  flex: 1;
  padding-block: 5rem;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: #ffffff;
  height: auto;
  width: 100%;
}
.contacto .contacto__formulario form {
  display: grid;
  width: 85%;
  gap: 2.5rem;
  padding-left: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "nombre     nombre" "apellido   apellido" "edad       edad" "email      email" "mensaje    mensaje" "enviar     reset";
}
.contacto .contacto__formulario form .nombre {
  grid-area: nombre;
}
.contacto .contacto__formulario form .apellido {
  grid-area: apellido;
}
.contacto .contacto__formulario form .edad {
  grid-area: edad;
}
.contacto .contacto__formulario form .email {
  grid-area: email;
}
.contacto .contacto__formulario form .mensaje {
  grid-area: mensaje;
}
.contacto .contacto__formulario form input {
  height: auto;
  width: 90%;
  padding: 1%;
  font-size: 2rem;
  font-family: "Marcellus SC", serif;
  color: #000000;
}
.contacto .contacto__formulario form input::-moz-placeholder {
  color: #fc8600;
  font-size: 1.5rem;
}
.contacto .contacto__formulario form input:-ms-input-placeholder {
  color: #fc8600;
  font-size: 1.5rem;
}
.contacto .contacto__formulario form input::placeholder {
  color: #fc8600;
  font-size: 1.5rem;
}
.contacto .contacto__formulario form .submit,
.contacto .contacto__formulario form .reset {
  background-color: #fc8600;
  border-radius: 1rem;
  border: none;
  width: 10rem;
  color: #ffffff;
}
.contacto .contacto__mensaje {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  color: #ffffff;
  z-index: 1;
  text-shadow: 1px 1px 1px #000000;
}
.contacto .contacto__mensaje h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Rubik Dirt", cursive;
  padding-bottom: 3rem;
}
.contacto .contacto__mensaje h2 span {
  color: #fc8600;
  text-shadow: 1px 1px 1px #ffffff;
}
.contacto .contacto__mensaje p {
  text-align: center;
  padding-inline: 10rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 2rem;
}
.contacto .contacto__mensaje p span {
  font-family: "Satisfy", cursive;
  color: #fc8600;
  text-shadow: 1px 1px 1px #000000;
  font-size: 2rem;
}
.contacto .contacto__mensaje .wapp {
  display: flex;
  align-items: center;
}
.contacto .contacto__mensaje .wapp a {
  color: #ffffff;
  font-size: 2rem;
  margin-inline: 1rem;
}
.contacto .contacto__mensaje .wapp p {
  font-size: 1.5rem;
  padding-inline: 0;
  padding-bottom: 0;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #524949;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  bottom: 0;
  margin-top: 3rem;
}
footer .footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #ffffff solid;
  width: 80%;
  height: 5rem;
  padding-top: 1rem;
}
footer .footer__title h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Rubik Dirt", cursive;
  font-weight: 200;
  word-spacing: 10px;
}
footer .footer__title h2 span {
  color: #fc8600;
}
footer .navbar__footer {
  height: auto;
  padding-bottom: 2rem;
}
footer .navbar__footer .menu__footer {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
footer .navbar__footer .menu__footer .menu__item__f a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Marcellus SC", serif;
  display: block;
  font-size: 1.2rem;
  padding: 1.5rem;
  padding-bottom: 3rem;
}
footer .redes {
  padding-bottom: 1rem;
}
footer .redes a {
  color: #ffffff;
  font-size: 2.5rem;
  margin-inline: 1rem;
}

.footer__margin {
  margin-top: 0;
}

.footer__NM {
  background-color: #2c2929;
}

.box:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.box:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.box:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@media screen and (max-width: 1250px) {
  .background__pizza .background__title h2 {
    font-size: 4.5rem;
  }
  .section__card {
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "card1  card2" "card3  card4" "card5  card6" "card7 card8" "card9 card10" "card11 card12" "card13 card14" "card15 card16" "card17 card18";
  }
  .section__card .card {
    flex-direction: column;
  }
  .section__card .card .pizzaimg {
    padding-bottom: 1rem;
    max-height: 25rem;
  }
  .section__card .card .description h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .section__card .card .description p {
    font-size: 1.5rem;
  }
  .section__card .card .description a {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .section__card__veggie {
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cardV1  cardV2" "cardV3  cardV4" "cardV5  cardV6";
  }
  .section__card__veggie .card {
    flex-direction: column;
  }
  .section__card__veggie .card .pizzaimg {
    padding-bottom: 1rem;
    max-height: 25rem;
  }
  .section__card__veggie .card .description h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .section__card__veggie .card .description p {
    font-size: 1.5rem;
  }
  .section__card__veggie .card .description a {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .cucina__cards {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 5%;
  }
  .cucina__cards .cucina__card {
    flex-direction: row;
    padding-bottom: 0;
  }
  .cucina__cards .cucina__card img {
    width: 60%;
    padding-bottom: 0;
  }
  .cucina__cards .cucina__card .infocard h3 {
    font-size: 1.6rem;
  }
  .back1 .frase__inicial {
    padding-inline: 15rem;
  }
  main .back2 {
    padding-top: 10rem;
    text-align: center;
    padding-inline: 2.5rem;
  }
  main .back2 .pres__lista {
    width: 100%;
  }
  main .back2 .pres__lista ul {
    padding-left: 2rem;
    text-align: left;
  }
  .contacto .contacto__mensaje p {
    padding-inline: 3rem;
  }
}
@media screen and (max-width: 995px) {
  /* MENU ICONO */
  .btn__label {
    display: block;
  }
  header {
    height: 4rem;
  }
  .header__NM {
    height: 4rem;
  }
  .navbar {
    position: absolute;
    background-color: #524949;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    z-index: 2;
  }
  .navbar .menu {
    flex-direction: column;
  }
  .navbar .menu .menu__item {
    width: 100%;
    height: 15vh;
    border-top: 1px solid #ffffff;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  #btn__menu:checked ~ .navbar {
    margin-left: 0;
  }
  .section__box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "box1 box1" "box2 box3" "box4 box5";
  }
  .section__box .box1 h1 {
    font-size: 3.5rem;
  }
  .section__box .box1 h2 {
    font-size: 2.5rem;
  }
  .section__box .box2,
.section__box .box3,
.section__box .box4,
.section__box .box5 {
    font-size: 4rem;
  }
  .cucina__cards {
    flex-direction: column;
    gap: 5rem;
  }
  .cucina__cards .cucina__card {
    flex-direction: row;
    padding-bottom: 0;
  }
  .cucina__cards .cucina__card img {
    flex: 1;
  }
  .cucina__cards .cucina__card .infocard {
    flex: 1;
  }
  .cucina__cards .cucina__card .infocard h3 {
    font-size: 1.5rem;
  }
  .cucina__cards .cucina__card .infocard p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .back1 .frase__inicial {
    padding-inline: 5rem;
  }
  main .back2 {
    padding-top: 10rem;
    padding-inline: 5rem;
  }
  main .back2 ul {
    text-align: left;
  }
  main .back3,
main .back4 {
    padding-top: 15rem;
  }
  main .back5 {
    padding-top: 10rem;
    padding-inline: 0;
  }
  main .back5 p {
    padding-inline: 5rem;
    text-align: center;
  }
  .contacto {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background_contacto.jpg);
    flex-direction: column;
  }
  .contacto .contacto__formulario {
    padding-block: 2rem;
  }
  .contacto .contacto__mensaje {
    padding-block: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .section__box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "box1 box1" "box2 box3" "box4 box5";
  }
  .section__box .box2,
.section__box .box3,
.section__box .box4,
.section__box .box5 {
    font-size: 2.5rem;
  }
  .background__pizza .background__title h2 {
    font-size: 3.5rem;
  }
  .section__card,
.section__card__veggie {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .section__card .card,
.section__card__veggie .card {
    flex-direction: column;
  }
  .section__card .card .pizzaimg,
.section__card__veggie .card .pizzaimg {
    padding-bottom: 1rem;
    max-height: 25rem;
  }
  .section__card .card .description h2,
.section__card__veggie .card .description h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .section__card .card .description p,
.section__card__veggie .card .description p {
    font-size: 1.5rem;
  }
  .section__card .card .description a,
.section__card__veggie .card .description a {
    padding: 1rem;
    font-size: 1.4rem;
  }
  .cucina__cards {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 10%;
  }
  .cucina__cards .cucina__card {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .cucina__cards .cucina__card img {
    width: 100%;
    padding-bottom: 1rem;
  }
  .cucina__cards .cucina__card .infocard {
    width: 80%;
  }
  .cucina__cards .cucina__card .infocard h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .cucina__cards .cucina__card .infocard p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .back1 .frase__inicial {
    padding-top: 8rem;
  }
  .back1 .frase__inicial h2 {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  main .back2 {
    padding-top: 5rem;
    padding-inline: 1.5rem;
  }
  main .back2 h2 {
    font-size: 2rem;
  }
  main .back2 p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  main .back2 .pres__lista ul {
    font-size: 1.3rem;
  }
  main .back3,
main .back4 {
    padding-top: 10rem;
  }
  main .back3 {
    padding-inline: 5rem;
  }
  main .back3 h2 {
    padding-left: 0;
    font-size: 1.5rem;
  }
  main .back3 p {
    padding-right: 0;
    font-size: 1.5rem;
  }
  main .back4 p {
    text-align: center;
    padding-inline: 5rem;
    font-size: 1.5rem;
  }
  main .back5 {
    padding-top: 10rem;
    padding-inline: 0;
  }
  main .back5 p {
    padding-inline: 5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .contacto .contacto__formulario form {
    padding-left: 0;
  }
  .contacto .contacto__formulario form input {
    padding: 2%;
    font-size: 1.5rem;
  }
  .contacto .contacto__formulario form input::-moz-placeholder {
    color: #524949;
    font-size: 1rem;
  }
  .contacto .contacto__formulario form input:-ms-input-placeholder {
    color: #524949;
    font-size: 1rem;
  }
  .contacto .contacto__formulario form input::placeholder {
    color: #524949;
    font-size: 1rem;
  }
  .contacto .contacto__mensaje h2 {
    font-size: 2.5rem;
  }
  .contacto .contacto__mensaje p {
    font-size: 1.5rem;
  }
  footer .navbar__footer {
    padding-bottom: 0rem;
  }
  footer .navbar__footer .menu__footer {
    flex-direction: column;
    padding-block: 1rem;
  }
  footer .navbar__footer .menu__footer .menu__item__f a {
    font-size: 1.4rem;
    padding: 0rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .section__box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "box1" "box2" "box3" "box4" "box5";
  }
  .section__box > * {
    flex: 1;
  }
  .section__box .box1 {
    flex: 2;
  }
  .section__box .box1 h1 {
    font-size: 2.5rem;
  }
  .section__box .box1 h2 {
    font-size: 2rem;
  }
  .section__box .box4 {
    order: 1;
  }
  .section__box .box5 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .section__box .box4 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .section__box .box2 a,
.section__box .box3 a,
.section__box .box4 a,
.section__box .box5 a {
    font-size: 2.5rem;
  }
  .background__pizza {
    height: 30vh;
  }
  .background__pizza .background__title h2 {
    font-size: 2.5rem;
  }
  .section__card,
.section__card__veggie {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    gap: 4rem;
  }
  .section__card .card .pizzaimg,
.section__card__veggie .card .pizzaimg {
    padding-bottom: 1rem;
    max-height: 20rem;
  }
  .section__card .card .description h2,
.section__card__veggie .card .description h2 {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  .section__card .card .description p,
.section__card__veggie .card .description p {
    font-size: 1.2rem;
  }
  .section__card .card .description a,
.section__card__veggie .card .description a {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .veggie__title {
    text-align: center;
  }
  .veggie__title h2 {
    font-size: 6vh;
  }
  .cucina__cards {
    flex-direction: column;
    height: 100%;
    padding-block: 5vh;
  }
  .cucina__cards {
    padding-block: 4rem;
    height: auto;
    padding-inline: 2%;
  }
  .cucina__cards .cucina__card {
    width: 85%;
    margin-bottom: 2rem;
  }
  .cucina__cards .cucina__card .infocard p {
    padding-inline: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  .back1 {
    height: 100vh;
  }
  .back1 .frase__inicial {
    padding-inline: 1rem;
    padding-top: 10rem;
  }
  .back1 .frase__inicial h2 {
    line-height: 2rem;
    font-weight: 400;
    font-size: 1rem;
  }
  main .back2 {
    padding-top: 3rem;
    padding-inline: 0;
  }
  main .back2 h2 {
    text-align: center;
    padding-top: 3rem;
    padding-inline: 1rem;
  }
  main .back2 p {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 3rem;
    padding-inline: 1rem;
  }
  main .back2 .pres__lista ul {
    padding-left: 0rem;
    line-height: 3rem;
    font-size: 1rem;
    padding-left: 1rem;
  }
  main .back3 {
    padding-inline: 1rem;
  }
  main .back3 h2,
main .back3 p {
    font-size: 1.5rem;
  }
  main .back4 p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    padding-inline: 1rem;
  }
  main .back5 p {
    font-size: 1.5rem;
    padding-inline: 1rem;
  }
  .contacto {
    padding-top: 1.5rem;
  }
  .contacto .contacto__formulario form {
    padding-left: 1rem;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "nombre" "apellido" "edad" "email" "mensaje" "enviar" "reset";
  }
  .contacto .contacto__formulario form input::-moz-placeholder {
    color: #000000;
    font-size: 1rem;
  }
  .contacto .contacto__formulario form input:-ms-input-placeholder {
    color: #000000;
    font-size: 1rem;
  }
  .contacto .contacto__formulario form input::placeholder {
    color: #000000;
    font-size: 1rem;
  }
  .contacto .contacto__mensaje h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .contacto .contacto__mensaje p {
    font-size: 1.5rem;
    padding-inline: 2rem;
  }
  .contacto .contacto__mensaje p span {
    font-size: 1.7rem;
  }
  .contacto .contacto__mensaje .wapp a {
    color: #ffffff;
    font-size: 9vw;
  }
  .contacto .contacto__mensaje .wapp p {
    font-size: 7vw;
  }
}
@media screen and (min-width: 995px) {
  .box a:hover {
    color: #fc8600;
    font-size: 8vh;
    transition: all 0.3s;
  }
  .side__box:hover {
    background-color: #000000;
    transition: 0.5s;
  }
  .navbar .menu .menu__item a:hover {
    color: #fc8600;
  }
  .section__card .card .description a:hover,
.section__card__veggie .card .description a:hover {
    background-color: #864f45;
    cursor: pointer;
  }
  .cucina__cards .cucina__card .infocard a:hover {
    background-color: #864f45;
    cursor: pointer;
  }
  .contacto__formulario form .submit:hover,
.contacto__formulario form .reset:hover {
    background-color: #864f45;
    cursor: pointer;
  }
}/*# sourceMappingURL=estilos.css.map */