
/*** INICIO CONTACTO***/

.contacto {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../images/background_contacto2.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
}

.contacto::before {
    content: '';
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(41, 35, 35, 0.664);
}

.contacto__mensaje {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    align-items: center;
    color: #ffffff;
    z-index: 1;
    text-shadow: 1px 1px 1px #000000;
}

.contacto__mensaje span {
    color: #ff6347;
    text-shadow: 1px 1px 1px #ffffff;
}

.contacto__mensaje h2 {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Rubik Dirt', cursive;
}

.contacto__mensaje h3 {
    font-size: 3vw;
    font-family: 'Satisfy', cursive;
    padding-bottom: 4rem;
}

.contacto__mensaje p {
    text-align: center;
    padding-inline: 10rem;
    font-weight: 900;
    font-size: 2.5vh;
    font-family: 'Marcellus SC', serif;
}

.contacto__formulario {
    flex: 1;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: #ffffff;
    height: 100%;
}

.contacto__formulario form {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 2rem;
    gap: 1rem;
    font-family: 'Marcellus SC', serif;
}

.contacto__formulario input {
    padding: 0.5rem;
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #ff6347;
}

.contacto__formulario .botones {
    display: flex;
    align-items: centers;
    width: 100%;
    height: 6rem;
    gap: 2rem;
    padding-top: 1.5rem;
}

.contacto__formulario .submit,
.contacto__formulario .reset {
    background-color: #ff6347;
    display: block;
    border-radius: 20px;
    padding: 1rem;
    border: none;
    color: white;
    font-size: 2rem;
    font-family: 'Marcellus SC', serif;
}

.submit:hover,
.reset:hover {
    background-color: rgb(131, 111, 111);
    cursor: pointer;
}

/* .footer__margin {
    margin-top: 0;
} */

/*** FIN CONTACTO ***/
/*** NUESTRO METODO ***/

.header__NM {
    background-color: rgba(0, 0, 0, 0.651);
}

.pres__grey::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120vh;
    background-color: rgba(34, 32, 32, 0.562);
}

.presentacion__back {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
}

.back__h {
    height: 120vh;
}

.frase__inicial {
    text-align: center;
    padding-inline: 25vw;
    padding-top: 20vh;
    color: white;
    font-size: 1.5rem;
    position: relative;
    text-transform: uppercase;
    line-height: 4rem;
    -webkit-animation: appear;
    animation: appear;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: 1;
}

.frase__inicial span {
    color: #ff6347;
    text-shadow: 1px 1px 4px #000000;
}

.back1 {
    background-image: url(../images/haciendo-masa.jpg);
}

.back2 {
    background-image: url(../images/harina.jpg);
}

.back3 {
    background-image: url(../images/masa\ de\ pizza.jpg);
}

.back4 {
    background-image: url(../images/pizza_sauce.jpg);
}

.back5 {
    background-image: url(../images/pizza_oven.jpg);
}

.back2 {
    display: flex;
    color: white;
    flex-direction: column;
    padding-top: 25vh;
    padding-inline: 10vw;
    font-family: 'Marcellus SC', serif;
    width: 100%;
}

.back2 h2 {
    color: #ff6347;
    z-index: 1;
    font-size: 2rem;
    padding-bottom: 2.5rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #2c2929;
}

.back2 p {
    z-index: 1;
    font-size: 2rem;
    padding-bottom: 4rem;
    text-shadow: 1px 1px 3px #2c2929;
}

.back2 .pres__lista {
    z-index: 1;
    display: flex;
    height: 20vh;
    align-items: center;
    text-shadow: 1px 1px 3px #2c2929;
}

.back2 .pres__lista ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 5rem;
    height: 100%;
    justify-content: space-between;
    font-size: 1.5rem;
}

.back2 .pres__lista i {
    color: #ff6347;
    z-index: 1;
}

.back3,
.back4 {
    display: flex;
    padding-top: 25vh;
    flex-direction: column;
}

.back3 h2 {
    text-align: left;
    width: 100%;
    padding-left: 10vw;
    font-size: 3rem;
    padding-bottom: 4rem;
    color: #ff6347;
    z-index: 1;
    text-shadow: 1px 1px 3px #2c2929;
}

.back3 p,
.back4 p,
.back5 p {
    text-align: right;
    font-size: 2.5rem;
    padding-right: 10vw;
    color: #ffffff;
    text-shadow: 1px 1px 2px #ff6347;
    font-family: 'Marcellus SC', serif;
}

.back4 p {
    text-align: left;
    font-size: 2rem;
    line-height: 10rem;
    padding-inline: 10vw;
}

.back5 {
    padding-top: 25vh;
    padding-left: 35vw;
}

/* .footer__NM {
    background-color: #2c2929;
} */

/*** FIN NUESTRO METODO ***/
/*** INICIO CUCINA CON NOI ***/

.cucina__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: 85vh;
    background-image: url(../images/background__white.jpg);
}

.cucina__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 70vh;
    background-color: #524949;
    box-shadow: 3px 3px 15px black;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.anim__delay1 {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.anim__delay2 {
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}

.cucina__card img {
    width: 100%;
    padding-bottom: 2rem;
}

.cucina__card h3 {
    font-family: 'Rubik Dirt', cursive;
    color: #ff6347;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

.cucina__card p {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: #ffffff;
    padding-inline: 2.5rem;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}

.cucina__card a {
    font-family: 'Rubik Dirt', cursive;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff6347;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    bottom: 2.5rem;
    font-weight: 400;
}

.cucina__card a:hover {
    color: #000000;
}


/*** MEDIA QUERIES ***/
@media screen and (min-width:901px) {

    .menu__item a:hover,
    .menu__item.active a {
        color: #ff6347;
    }

    .section__card a:hover,
    .section__card__veggie a:hover {
        color: #494040;
    }

    .submit:hover,
    .reset:hover {
        background-color: rgb(131, 111, 111);
        cursor: pointer;
    }
}

@media screen and (max-width: 900px) {
    /* MENU ICONO */

    /* .btn__label {
        display: block;
    }

    .navbar {
        position: absolute;
        background-color: rgb(88, 76, 76);
        width: 100vw;
        margin-left: -100%;
        transition: all 0.5s;
        z-index: 2;
    }

    .menu {
        flex-direction: column;
    }

    header .menu__item {
        width: 100%;
        height: 15vh;
        border-top: 1px solid #ffffff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn__menu:checked~.navbar {
        margin-left: 0;
    } */

    /* FIN MENU ICONO */

    .section__card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 2rem;
        grid-template-areas:
            "card1  card2"
            "card3  card4"
            "card5  card6"
            "card7  card8"
            "card9  card10"
            "card11  card12"
            "card13  card14"
            "card15  card16"
            "card17  card18";
    }

    .section__card__veggie {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
        grid-template-areas:
            "card19  card20"
            "card21  card22"
            "card23  card24";
    }

    .card {
        width: 45vw;
        flex-direction: column;
        height: 70vh;
    }

    .pizzaimg {
        padding-top: 2vh;
        height: 100%;
        max-width: 100%;
    }

    .card .description {
        max-width: 100%;
        height: 100%;
    }

    .section__card h2,
    .section__card__veggie h2 {
        font-size: 5vw;
        padding-bottom: 0;
    }

    .section__card p,
    .section__card__veggie p {
        font-size: 2.5vw;
        padding-top: 2vh;
    }

    .section__card a,
    .section__card__veggie a {
        font-size: 3vw;
    }

    /*** MENU ***/
    .background__pizza h2 {
        font-size: 10vh;
    }

    .section__card {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 2rem;
        grid-template-areas:
            "card1  card2"
            "card3  card4"
            "card5  card6"
            "card7  card8"
            "card9  card10"
            "card11  card12"
            "card13  card14"
            "card15  card16"
            "card17  card18";
    }

    .section__card__veggie {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
        grid-template-areas:
            "card19  card20"
            "card21  card22"
            "card23  card24";
    }

    .card {
        width: 100%;
        flex-direction: column;
        height: 70vh;
        box-shadow: none;
        border-bottom: 1px #5a5959 solid;
        border-top: 1px #5a5959 solid;
    }

    /*** FIN MENU ***/
}

@media screen and (max-width: 480px) {
    /*** MENU ***/

    #btn__menu:checked ~ .navbar {
        width: 100fvw;
    }

    .background__pizza {
        height: 30vh;
    }

    .background__pizza h2 {
        font-size: 6vh;
    }

    .section__card,
    .section__card__veggie {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 95vw;
        height: 80vh;
    }

    .pizzaimg {
        flex: 1;
    }

    .section__card .description,
    .section__card__veggie .description {
        flex: 1;
    }

    .section__card h2,
    .section__card__veggie h2 {
        font-size: 8vw;
    }

    .section__card p,
    .section__card__veggie p {
        font-size: 1.2rem;
    }

    .section__card a,
    .section__card__veggie a {
        padding: 3vw;
        font-size: 5vw;
    }

    .veggie__title {
        text-align: center;
    }

    .veggie__title h2 {
        font-size: 6vh;
    }

    /*** CONTACTO ***/
    .contacto {
        flex-direction: column;
        height: 200vh;
        background-image: url(../images/background_contacto.jpg);
    }

    .contacto__mensaje {
        height: 100vh;
        padding-top: 15vh;
    }

    .contacto::before {
        height: 200vh;
    }

    .contacto__mensaje h2 {
        font-size: 10vw;
        padding-bottom: 1rem;
    }

    .contacto__mensaje h3 {
        font-size: 8vw;
        padding-bottom: 4rem;
    }

    .contacto__mensaje p {
        font-size: 5vw;
        padding-inline: 4rem;
    }

    .contacto__formulario {
        height: 100vh;
    }

    .contacto__formulario form {
        display: flex;
        flex-direction: column;
        width: 70%;
        font-size: 1.5rem;
        font-family: 'Marcellus SC', serif;
    }

    .contacto__formulario input {
        font-size: 1rem;
    }

    .contacto__formulario .submit,
    .contacto__formulario .reset {
        font-size: 1.5rem;
    }

    /*** NUESTRO METODO ***/

    .header__NM {
        background-color: #494040;
    }

    .presentacion__back {
        height: 120vh;
    }

    .frase__inicial {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-inline: 10vw;
        padding-top: 40%;
    }

    .back2 h2,
    .back2 p {
        text-align: center;
    }

    .back2 .pres__lista>ul {
        padding-left: 0rem;
        line-height: 1rem;
        width: 45vw;
        font-size: 1.2rem;
    }

    .back3 h2,
    .back3 p {
        padding-inline: 10vw;
    }

    .back4,
    .back5 {
        padding-top: 10vh;
        padding-left: 10vw;
    }

    .back4>p {
        font-size: 2rem;
        padding-inline: 5vw;
        line-height: 4rem;
    }

    .back5 p {
        text-align: center;
    }

    /*** CUCINA CON NOI ***/
    .cucina__cards {
        flex-direction: column;
        height: 100%;
        padding-block: 5vh;
    }

    .cucina__card {
        width: 80vw;
        height: 75vh;
        margin-bottom: 4vh;
    }

    /*** FOOTER ***/
    footer {
        height: auto;
    }

    .menu__footer {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .menu__item__f a {
        padding: 0.5rem;
    }
}

/*** FIN MQ ***/